.circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #389d8e;
}

.number {
  font-size: 10px;
  color: white;
}
